* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size = 10px;
  10px / 16px = 0.625 *100 = 62.5%
  percentage of user's browser font-size setting
  */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
}
.section-hero {
  position: relative;
  background-color: #56b981;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2.6rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

a.btn--full {
  cursor: pointer;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  right: 25%;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #0e9b4b;
  color: #fff;
}

.btn--outine:link,
.btn--outline:visited {
  background-color: #0e9b4b;
  color: #000;
}

.btn--full:hover,
.btn--full:active {
  background-color: #0a6d35;
}

.btn--signup:link,
.btn--signup:visited {
  background-color: #0e9b4b;
  color: #fff;
  margin-left: 50%;
  margin-top: 4.8rem;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #0a6d35;
}

.btn--signup:hover,
.btn--signup:active {
  background-color: #0a6d35;
}
.margin-right-sm {
  margin-right: 2.4rem;
  margin-left: 20rem;
}

.vector-img {
  position: absolute;
  top: 10%;
  left: 0;
}

.vector-2-img {
  position: absolute;
  top: 10%;
  right: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 6.8rem; /* sticky header*/
  padding: 0 4.8rem;
}

.main-nav-list {
  list-style: none;

  display: flex;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #56b981;
}
.logo {
  height: 6.4rem;
}

.section-feature {
  margin-top: 9.6rem;
}

.heading-secondary {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.05;
  color: #0e9b4b;
  margin-bottom: 10rem;
}
.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

article {
  margin-bottom: 14.6rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3.6rem;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 2;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.mella-img {
  height: 44rem;
  max-width: 100%;
}

.section-opportunites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
  margin-bottom: 10rem;
}

.opp-heading {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.05;
  color: #0e9b4b;
}
.opp-description {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.margin-sm {
  margin-right: 2.4rem;
}

.opp-img {
  max-width: 100%;
}
.section-steps {
  background-color: #fff6f2;
  padding: 4.8rem 0 12.6rem 0;
}

.steps-heading {
  text-align: center;
  padding: 9.6rem 0 3.2rem 0;
  font-size: 4.8rem;
  font-weight: 600;
}
.steps-description {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
}

.steps-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3.2rem 4.8rem 3.2rem 4.8rem;
}

.steps-box div {
  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center; /* Vertically centers the icon */
}

.steps-icon {
  max-width: 100%; /* Ensure the icons are responsive */
  height: auto;
}

.steps-heading-tertiary {
  font-size: 2.4rem;
  text-align: center;
  padding: 3.2rem 0;
}
.steps-paragraph {
  text-align: center;
  font-size: 1.6rem;
}

.grid--5-cols {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  row-gap: 6.4rem;
  column-gap: 9.6rem;
}
.section-footer {
  background-color: #000;
  color: #fff;
  padding: 12.8rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  list-style: none;
}
.copyright {
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.6;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #999999;
}
.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contact p {
  margin-bottom: 2.4rem;
}
